################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sample/obj
/.vs
/sample/bin/Debug/netcoreapp3.1
/sample/.vs/sample
